{% assign languages = site.data.data.sidebar.languages %}

{% if languages %}
  <div class="languages-container container-block">
    <h2 class="container-block-title">
      <span class="fa-stack" aria-hidden="true">
        <i class="fas fa-globe-americas fa-inverse" aria-hidden="true"></i>
      </span>
      Languages
    </h2>

    <ul class="list-unstyled interests-list">
      {%for language in languages %}
      <li>
        {{ language.idiom }}
        <span class="lang-desc">({{ language.level }})</span>
      </li>
      {% endfor %}
    </ul>
  </div>
<!--//languages-->
{% endif %}
