/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd-Book';
  src: url(asset_path('./fonts/CircularStd-Book.eot'));
  src: url(asset_path('./fonts/CircularStd-Book.eot?#iefix')) format('embedded-opentype'), url(asset_path('./fonts/CircularStd-Book.woff')) format('woff'), url(asset_path('./fonts/CircularStd-Book.ttf')) format('truetype'), url(asset_path('./fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd')) format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'CircularStd-BookItalic';
  src: url(asset_path('./fonts/CircularStd-BookItalic.eot'));
  src: url(asset_path('./fonts/CircularStd-BookItalic.eot?#iefix')) format('embedded-opentype'), url(asset_path('./fonts/CircularStd-BookItalic.woff')) format('woff'), url(asset_path('./fonts/CircularStd-BookItalic.ttf')) format('truetype'), url(asset_path('./fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd')) format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url(asset_path('./fonts/CircularStd-Bold.eot'));
  src: url(asset_path('./fonts/CircularStd-Bold.eot?#iefix')) format('embedded-opentype'), url(asset_path('./fonts/CircularStd-Bold.woff')) format('woff'), url(asset_path('./fonts/CircularStd-Bold.ttf')) format('truetype'), url(asset_path('./fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd')) format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'CircularStd-BoldItalic';
  src: url(asset_path('./fonts/CircularStd-BoldItalic.eot'));
  src: url(asset_path('./fonts/CircularStd-BoldItalic.eot?#iefix')) format('embedded-opentype'), url(asset_path('./fonts/CircularStd-BoldItalic.woff')) format('woff'), url(asset_path('./fonts/CircularStd-BoldItalic.ttf')) format('truetype'), url(asset_path('./fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd')) format('svg');
  font-weight: 600;
  font-style: italic;
}

/* ======= Base ======= */
body {
  padding: 30px;
  font-family: 'CircularStd-Book', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color-secondary;
  background: linear-gradient(to right, #2ebf91, #74ebd5);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CircularStd-Bold', sans-serif;
  font-weight: 700;
}

a {
  color: darken($theme-color, 15%);
  text-decoration: underline;

  &:hover {
    color: darken($theme-color, 30%);
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.wrapper {
  @include box-shadow(0 2px 4px rgba(0, 0, 0, .1));

  display: grid;
  grid-template-columns: 280px auto;
  margin: 0 auto;
  max-width: 1100px;
}

.sidebar-wrapper {
  background: $theme-color;
  color: $white;

  a {
    color: $white;
  }

  .profile-container {
    padding: 30px;
    background: rgba(0, 0, 0, .2);
    text-align: center;
    color: $white;
  }

  .name {
    font-family: 'CircularStd-Bold', sans-serif;
    font-size: 28px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .tagline {
    color: rgba(256, 256, 256, .6);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    max-width: 100px;
    margin-bottom: 15px;
    border: 0px solid $white;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }

  .contact-list {
    .fas,
    .fab {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }

    .fa-linkedin {
      margin-right: 7px;
    }

    .fa-github {
      margin-right: 6px;
    }

    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .container-block {
    padding: 20px 30px;
  }

  .container-block-title {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'CircularStd-Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    .fa-stack {
      width: 1.5em;
      margin-right: 8px;
      font-size: 18px;
    }
  }

  .fa-stack-sidebar {
    width: 1.5em;
    margin-right: 8px;
    font-size: 18px;
  }

  .degree {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .education-container {
    .item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .meta {
      color: rgba(256, 256, 256, .8);
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
    }

    .time {
      color: rgba(256, 256, 256, .8);
      font-weight: 500;
      margin-bottom: 0px;
    }
  }

  .languages-container {
    .lang-desc {
      color: rgba(256, 256, 256, .8);
    }
  }

  .languages-list {
    margin-bottom: 0;

    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list,
  .skills-list {
    margin-bottom: 0;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main-wrapper {
  background: $white;
  padding: 32px;

  .section-title {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: darken($theme-color, 15%);
  }

  .fa-stack {
    margin-right: 8px;
  }

  .section {
    margin-bottom: 60px;
  }

  .experiences-section,
  .educations-section {
    .item {
      margin-bottom: 40px;
    }
  }

  .upper-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid $smoky-white;
  }

  .job-title,
  .degree {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    color: $text-color;
  }

  .company,
  .university {
    margin-bottom: 10px;
  }

  .project-title {
    display: inline-block;
    width: 25%;
    font-size: 18px;
    vertical-align: top;
  }

  .project-tagline {
    display: inline-block;
    width: 75%;
    font-size: 16px;
    vertical-align: bottom;
  }

  .projects-section {
    .intro {
      margin-bottom: 30px;
    }

    .item {
      margin-bottom: 15px;
      font-size: 0;
    }
  }

  .publication-title {
    color: $text-color;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1px;
  }

  .publication-authors {
    color: $text-grey;
    font-style: italic;
    margin-bottom: 1px;
  }

  .publications-section {
    .intro {
      margin-bottom: 30px;
    }

    .item {
      margin-bottom: 15px;
    }
  }
}

.footer {
  padding-top: 30px;

  .copyright {
    color: $black;
    font-size: 14px;
    line-height: 1.6;
  }

  .fa-heart {
    color: $heart;
  }
}
