/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd-Book';
  src: url('./fonts/CircularStd-Book.eot');
  src: url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-Book.woff') format('woff'), url('./fonts/CircularStd-Book.ttf') format('truetype'), url('./fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'CircularStd-BookItalic';
  src: url('./fonts/CircularStd-BookItalic.eot');
  src: url('./fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-BookItalic.woff') format('woff'), url('./fonts/CircularStd-BookItalic.ttf') format('truetype'), url('./fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('./fonts/CircularStd-Bold.eot');
  src: url('./fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-Bold.woff') format('woff'), url('./fonts/CircularStd-Bold.ttf') format('truetype'), url('./fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'CircularStd-BoldItalic';
  src: url('./fonts/CircularStd-BoldItalic.eot');
  src: url('./fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-BoldItalic.woff') format('woff'), url('./fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('./fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}

/* ======= Base ======= */
body {
  padding: 30px;
  font-family: 'CircularStd-Book';
  font-size: 16px;
  color: $text-color-secondary;
  background: $smoky-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'CircularStd-Bold';
  font-weight: 700;
}

a {
  color: darken($theme-color, 15%);
  &:hover {
      text-decoration: underline;
      color: darken($theme-color, 30%);
  }
  &:focus {
      text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.wrapper {
  @include box-shadow(0px 2px 4px rgba(0,0,0,0.1));
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  background: $theme-color;
}

.sidebar-wrapper {
  background: $theme-color;
  position: absolute;
  width: 280px;
  height: 100%;
  min-height: 800px;
  color: #fff;

  a {
    color: #fff;
  }

  .profile-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }

  .name {
    font-family: 'CircularStd-Bold';
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .tagline {
    color: rgba(256, 256, 256, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    max-width: 100px;
    margin-bottom: 15px;
    border: 0px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .contact-list {
    .fas, .fab {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }

    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .container-block {
    padding: 20px 30px;
  }

  .container-block-title {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'CircularStd-Bold';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    .fa-stack {
      width: 1.5em;
      margin-right: 8px;
      font-size: 18px;
    }
  }

  .fa-stack-sidebar {
    width: 1.5em;
    margin-right: 8px;
    font-size: 18px;
  }

  .degree {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .education-container {
    .item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .meta {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
    }

    .time {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
    }
  }

  .languages-container {
    .lang-desc {
      color: rgba(256, 256, 256, 0.6);
    }
  }

  .languages-list {
    margin-bottom: 0;

    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list,
  .skills-list {
    margin-bottom: 0;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.main-wrapper {
  background: #fff;
  padding: 32px;
  padding-left: 320px;

  .section-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: darken($theme-color, 15%);
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .fa-stack {
    margin-right: 8px;
  }

  .section {
    margin-bottom: 60px;
  }

  .experiences-section, .educations-section {
    .item {
      margin-bottom: 40px;
    }
  }

  .upper-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f5f5f5;
  }

  .job-title, .degree {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    color: $text-color;
  }

  .time {
    color: $text-grey;
  }

  .company, .university {
    margin-bottom: 10px;
    color: $text-grey;
  }

  .project-title {
    display: inline-block;
    width: 15%;
    font-size: 18px;
    vertical-align: top;
  }

  .project-tagline {
    display: inline-block;
    width: 84%;
  }

  .projects-section {
    .intro {
      margin-bottom: 30px;
    }

    .item {
      margin-bottom: 15px;
    }
  }

  .publication-title {
    font-size: 18px;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 1px;
  }

  .publication-authors {
    font-style: italic;
    color: $text-grey;
    margin-bottom: 1px;
  }

  .publications-section {
    .intro {
      margin-bottom: 30px;
    }

    .item {
      margin-bottom: 15px;
    }
  }
}

.footer {
  padding-top: 30px;

  .copyright {
    line-height: 1.6;
    color: $text-color-secondary;
    font-size: 14px;
  }

  .fa-heart {
    color: $heart;
  }
}
