/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding: 8px;
  }

  .wrapper {
    display: block;
  }

  .sidebar-wrapper {
    .container-block {
      padding: 16px;
    }
  }

  .main-wrapper {
    padding: 30px 16px 16px;

    .section {
      margin-bottom: 30px;
    }
  }

  .footer {
    padding-top: 8px;
  }
}

@media (max-width: 1024px) {
  .main-wrapper {
    .project-title {
      width: auto;
      padding-right: 8px;
    }

    .project-tagline {
      display: inline;
    }
  }
}
