/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding: 0 0 20px 0;
  }

  .sidebar-wrapper {
    position: static;
    width: inherit;
  }

  .main-wrapper {
    padding: 12px;
  }
}

@media (max-width: 1024px) {
  body {
    padding: 20px;
  }

  .footer {
    padding-top: 20px;
  }
}
